.gcloudignore
.gcloudignore_staging
.gitignore
.git
*.md
tests/
pytest.ini
lot_bot_appunti.py
prova*
gcloud/
add_giocate_batch*
resocontibot*
lot_bot/sample_*


#
scripts/
include/

# 
activate_vm.bat
gcloud_deploy.bat


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
staging.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/
